---
title: Чек-лист 2.0
date: 2014/06/08
tags: задача, чек-лист
category: изменения
layout: application
annotation:
  text: 'Сегодня мы запустили самое крутое обновление: изменение чек-листов теперь осуществляется по протоколу WebSocket. Это значит, если над одной задачей работают одновременно несколько сотрудников — все изменения будут доставляться всем участникам с сервера автоматически. Таким образом, если один из сотрудников отредактирует чек-лист, все остальные увидят изменение мгновенно и без перезагрузки страницы.'
  image: https://cloud.helpdeskapp.ru/files/263/850-525/checklist-2.0.png
author:
  login: tab
  avatar: https://secure.gravatar.com/avatar/6279bc07cdb06a5fe08a02816887d4d0.jpg
---

<% if current_page.data.any? %>
<article class="post">
  <h2><%= link_to 'Helpdeskapp блог', '/blog' %> / <%= current_page.title %></h2>
  <%= partial 'layouts/commons/meta', :locals => { :article => current_page } %>

  <div class="description">
    <%= partial 'layouts/commons/annotation', :locals => { :article => current_page } %>
  </div>

  <div class="pull-left">
    <%= partial 'layouts/commons/tags', :locals => { :article => current_page } %>
  </div>

  <div class="pull-right">
    <%= partial 'layouts/commons/social_likes' %>
  </div>
</article>
<% end %>
