---
title: Сторонние приложения для ваших проектов
date: 2014/06/12
tags: проект, github, bitbucket, newrelic, errbit
category: изменения
layout: application
annotation:
  text: При разработке сервиса мы используем внешние сервисы, такие как GitHub или Bitbucket для работы с исходным кодом и New Relic или Errbit для сбора ошибок. Хорошо если такие внешние сервисы будут всегда под рукой у разработчика при работе с задачами. Поэтому сегодня мы добавили возможность привязать к вашим проектам ссылки на эти внешние сервисы.
  image: https://cloud.helpdeskapp.ru/files/382/850-521/project-applications.png
author:
  login: tab
  avatar: https://secure.gravatar.com/avatar/6279bc07cdb06a5fe08a02816887d4d0.jpg
---

<% if current_page.data.any? %>
<article class="post">
  <h2><%= link_to 'Helpdeskapp блог', '/blog' %> / <%= current_page.title %></h2>
  <%= partial 'layouts/commons/meta', :locals => { :article => current_page } %>

  <div class="description">
    <%= partial 'layouts/commons/annotation', :locals => { :article => current_page } %>

    <p>Список добавленных приложений отображается в меню справа. Управление добавленными приложениями доступно из настроек проекта. Пока доступно всего четыре сервиса для добавления в проект, но в будущем мы будем увеличивать этот список.</p>
  </div>

  <div class="pull-left">
    <%= partial 'layouts/commons/tags', :locals => { :article => current_page } %>
  </div>

  <div class="pull-right">
    <%= partial 'layouts/commons/social_likes' %>
  </div>
</article>
<% end %>
